{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel='stylesheet' href="{% static 'layout.css' %}">
    {% block script %}
    {% endblock %}
  </head>
  <body>
    <main>
        <a href="/">Home</a>
        
        <h1 id="title">Crippling Poker Addiction Tracker</h1>  
        <h5 id="message">{{message}}</h5>
        {% block body %}
        {% endblock %}

    </main>

  </body>
</html>