{% load static %}
<link rel='stylesheet' href="{% static 'poker.css' %}">
<script src="{% static 'poker.js' %}"></script>

<div>
    <div class="home-container">

      <img
        src="/static/media/down.jpg"
        alt="image"
        id="flop-card1"
        class="community-cards"
      />
      <img
        src="/static/media/down.jpg"
        alt="image"
        id="flop-card2"
        class="community-cards"
      />
      <img
        src="/static/media/down.jpg"
        alt="image"
        id="flop-card3"
        class="community-cards"
      />
      <img
        src="/static/media/down.jpg"
        alt="image"
        id="flop-card4"
        class="community-cards"
      />
      <img
        src="/static/media/down.jpg"
        alt="image"
        id="flop-card5"
        class="community-cards"
      />
      <img
        src="/static/media/down.jpg"
        alt="image"
        id="player-card1"
        class="hole-cards"
      />
      <img
        src="/static/media/down.jpg"
        alt="image"
        id="player-card2"
        class="hole-cards"
      />
      <img
        src="/static/media/table.png"
        alt="image"
        id="table"
      />
      <button id="call-btn" type="button" class="action-btn">Call</button>
      <button id="fold-btn" type="button" class="action-btn">Fold</button>
    </div>
  </div>