{% load static %}

<script src="{% static 'variance.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<span> Return</span><h1 id="counter">0</h1>

<span> Hands</span><h1 id="handCounter">0</h1> 

<span> Percent Return Rate</span><h1 id="average">0</h1> 

<div id="myPlot"></div> 

<input type="number" id="hands" placeholder="hands"></input>
<input type="number" id="lines" placeholder="lines"></input>
<input type="number" id="bet" placeholder="average bet"></input>
<button id="countBtn">WWW</button>